<div class="grid_5" style="height:540px;">
	<img src="images/iphone.png" alt="iphone" style="position:absolute;top:-255px;" />
</div>
<div class="grid_7">
	<div style="margin-left:20px;">
		<header style="padding-top:50px;">
			<h1>Losung</h1>
			<h2>GOTTES Wort f&uuml;r jeden Tag. <i>Mit Stil</i>. F&uuml;r iPhone und iPod touch.</h2>
		</header>
	
		<div id="main" style="padding-top:80px;">
			<img src="images/apple-store-badge.png" alt="apple-store-badge" width="251" height="86" />
		</div>
	
		<img src="images/copyright.png" width="209" height="135" alt="Copyright" style="position:relative;left:160px;top:-50px;">
	
	</div>
</div>

<div class="grid_12">
	<footer>
		<h1>... und so einfach geht's</h1>
	</footer>
</div>
<div class="grid_1" style="padding-left:40px;">
	<img src="images/point_1.png" width="62" height="134" alt="Point 1">
</div>
<div class="grid_2 point">
	<h3>Starten</h3>
	<p>
		Losung aus dem AppStore laden und von iPhone oder iPod touch starten...
	</p>
</div>
<div class="grid_1 prefix_1">
	<img src="images/point_1.png" width="62" height="134" alt="Point 1">
</div>
<div class="grid_2 point">
	<h3>Losung anzeigen</h3>
	<p>
		...die Losung vom heutigen Tag wird gleich mal gezeigt.
	</p>
</div>
<div class="grid_1 prefix_1">
	<img src="images/point_3.png" width="86" height="134" alt="Point 3">
</div>
<div class="grid_2 point">
	<h3>Tag wechseln</h3>
	<p>
		Durch seitiches Wischen kannst Du den Tag der Losung wechseln.
	</p>
</div>
<div class="grid_12" style="height:4em;">
	&nbsp;
</div>
