<div class="grid_5">
	<img src="images/iphone-full.png" alt="iphone" style="position:relative;top:-255px;z-index:-1;" />
</div>
<div class="grid_7">
	<div style="margin-left:20px;">
		<header style="padding-top:90px;">
			<h1>Losung</h1>
			<h2>GOTTES Wort f&uuml;r jeden Tag. <i>Mit Stil</i>. F&uuml;r iPhone und iPod touch.</h2>
		</header>
	
		<div id="main" style="padding-top:40px;">
			<img src="images/apple-store-badge.png" alt="apple-store-badge" width="251" height="86" />
		</div>
	
<!--			<p style="color:#42474B;text-transform:lowercase;margin-top:38px;">
			Handgefertigt von Stephan Meissner
		</p>-->
	</div>
</div>

<div class="grid_12">
	<footer>
	</footer>
</div>
