<div class="grid_5" style="height:480px;">
	<img src="images/iphone.png" width="380" height="878" alt="Iphone" style="position:absolute;top:10px;">
</div>
<div class="grid_7">
	<div style="margin-left:20px;">
		<header style="padding-top:50px;">
			<h1>Losung</h1>
			<h2>GOTTES Wort f&uuml;r jeden Tag. <i>Mit Stil</i>. F&uuml;r iPhone<sup style="font-size:.5em">&reg;</sup>	und iPod touch.</h2>
		</header>
	
		<div id="main" style="padding-top:80px;">
			<a href="http://itunes.apple.com/at/app/losung/id401443509?mt=8" target="_blank">
				<img src="images/apple-store-badge.png" alt="apple-store-badge" />
			</a>
		</div>
	
		<img src="images/copyright.png" width="209" height="135" alt="Copyright" style="position:relative;left:160px;top:-30px;">
	
	</div>
</div>


